/* --- Google Fonts --- */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:400,700");

/* --- Components design --- */
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/flex.css");
@import url("components/card.css");
@import url("components/thumbnail.css");
@import url("components/footer.css");
@import url("components/landing.css");
@import url("components/header.css");
@import url("components/colors.css");
@import url("components/form.css");
/* TODO: import new components */

/* --- Fonts & colors --- */
body {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  padding-bottom: 200px;
  margin: 0;
  background-color: rgb(240,240,240);
}

section {
  margin: 20px 0px;
}

h1, h2, h3 {
  font-family: "Poppins", "sans-serif";
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  padding: 0;
}

li {
  margin: 10px;
  list-style: none;
  display: inline-block;
}

li.block {
  display: block;
}


.text-16 {
  font-size: 16px;
}

.text-14 {
  font-size: 14px;
}

.text-12 {
  font-size: 12px;
}

.text-center {
  text-align: center;
}
