.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}


@media (max-width: 500px) {
  .card-container {
    justify-content: space-around;
  }
}
